{% extends 'base.html' %}
{% load static %}

{% block 'title' %}
Salas de Estudo
{% endblock %}

{% block 'extra_head' %}
    <link rel="stylesheet" href="{% static 'salas_estudo/style/style.css' %}">
{% endblock %}
{% block 'mensagem_top' %}
Aqui os alunos podem realizar as reservas das salas de estudo
{% endblock %}
{% block 'content' %}
    <div class="container">

        <div class="status_sala row mb-4">
            <div class="col-sm-12 col-md-4">
                <ion-icon class="status_disponivel" name="ellipse-sharp"></ion-icon>
                <label class="status_legenda text-black-50">Disponível</label>
            </div>
            <div class="col-sm-12 col-md-4">
                <ion-icon class="status_ocupado" name="ellipse-sharp"></ion-icon>
                <label class="status_legenda text-black-50">Ocupado</label>
            </div>
            <div class="col-sm-12 col-md-4">
                <ion-icon class="status_indisiponivel" name="ellipse-sharp"></ion-icon>
                <label class="status_legenda text-black-50" >Indisponível</label>
                
            </div>
        </div>
        


        <div class="row w-100">
        {% for sala in salas %}

            {% if sala.estado == 'Disponível' %}
            {% include 'reservas/modal_sala_disponivel.html' %}
            {% endif %}


            {% if sala.estado == 'Ocupado' %}
            {% include 'reservas/modal_sala_ocupada.html' %}
            {% endif %}


            {% if sala.estado == 'Indisponível' %}
            {% include 'reservas/modal_sala_indisponivel.html' %}
            {% endif %}

        {% endfor %}
        </div>
    </div>
{% endblock %}

{% block 'extra_js' %}

    <!--   @ionincons   -->
    <script type"text/javascript" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js"></script>

    <!--   @jQuery      -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <script src="{% static 'salas_estudo/js/main.js' %}"></script>

{% endblock %}