{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bootstrapv5.1/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'principal/style/global.css' %}">
    <link href="{% static 'principal/style/global.css' %}" rel="stylesheet">
    <link rel="icon" type="imagem/png" href="{% static 'principal/img/logo_top.png' %}" />

    {% block 'extra_head' %}
    
    {% endblock %}
    <title>
    {% block 'title' %}
    {% endblock %}
    | SICC
    </title>
</head>
<body >
<div class="geral">
    <div class="top_description text-white">
        <div class="container-fluid">
            <div class="text-center" style="min-width: 100%;">
                SICC - Sistema Integrado de Controle de Cabines - Biblioteca Campus Pau dos Ferros
                <a  class="link_remove_style float-end text-white" href="{% url 'account_logout' %}">SAIR</a>
            </div>
        </div>
    </div>

    <div class="top_container w-100" style="height: 100%;">
        <div class="row">
            <div class="col-md-6" style="min-height: 100%;">
                <a href="{% url 'salas_estudo' %}">
                    <img class="logo_sicc" style="max-height: 130px; margin-left: 0px;" src="{% static 'principal/img/logo_sicc.png' %}" alt="Logo SICC">
                </a>
            </div>
            <div class="col-md-6 tag_top" style="min-height: 100%;">
                <div class="top_msg_direita text-center text-white m-auto d-none d-md-block">
                {% block 'mensagem_top' %}
                    
                {% endblock %}
                </div>
            </div>
        </div>
    </div>
    
    {% include 'menu.html' %}

    {% block 'content' %}
        
    {% endblock %}


</div>


</footer>
<script src="{% static 'bootstrapv5.1/js/bootstrap.bundle.min.js' %}"></script>

{% block 'extra_js' %}

{% endblock%}
</body>
</html>